################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckList/.vs/CheckList
/CheckList/obj/Debug
/.vs/CheckList/v17
/CheckList/bin/Debug
