<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Chrome" value="Apps\Windows7\GoogleChrome\ChromeStandaloneSetup64.msi" />
    <add key="ChromeParametro" value="/quiet" />
    <add key="Klite" value="Apps\Windows7\Codec\Klitecodec.exe" />
    <add key="KliteParametro" value="/verysilent" />
    <add key="Winrar" value="Apps\Windows7\WinRar\winrarx64.exe" />
    <add key="WinrarParametro" value="/s" />
    <add key="AdobeReader" value="Apps\Windows7\AdobeReader\AdobeReader.exe" />
    <add key="AdobeReaderParametro" value="/sPB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>